<ul class="list-group list-group-horizontal">
{{#year_range}}
<li class="list-group-item"><a href="/{{ &year }}">{{ year }}</a></li>
{{/year_range}}
</ul>

<h2>Cash flow of year {{year}}</h2>
<table id="cashflow" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Month</th>
            <th>Amount</th>
        </tr>
    </thead>
    {{#cashflow}}
        <tr>
            <td>{{month}}</td>
            <td class="amount {{type}}">{{amount}}</td>
        </tr>
    {{/cashflow}}
</table>
