<ul class="list-group list-group-horizontal">
{{#month_range}}
<li class="list-group-item"><a href="/{{ &month }}">{{ month }}</a></li>
{{/month_range}}
</ul>

<div>{{current_date}}</div>
<div class="row">
    <div class="col-md-4">
        <h2>Accounts</h2>
        <table id="balance" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {{#accounts}}
                <tr>
                    <td>{{{name}}}</td>
                    <td class="amount">{{balance}}</td>
                </tr>
                {{/accounts}}
            </tbody>
        </table>

        <h2>Liabilities</h2>
        <table id="balance" class="table table-bordered table-striped">
            <thead>
		<tr>
                    <th>Account</th>
                    <th>Balance</th>
		</tr>
            </thead>
            <tbody>
		{{#debts}}
                    <tr>
			<td>{{{name}}}</td>
			<td class="amount negative">{{balance}}</td>
                    </tr>
		{{/debts}}
            </tbody>
        </table>

        <h2>Net worth</h2>
        <table id="net_worth" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Amount</th>
                </tr>
            </thead>
            {{#net_worth}}
                <tr>
                    <td>{{month}}</td>
                    <td class="amount {{type}}">{{amount}}</td>
                </tr>
            {{/net_worth}}
        </table>

    </div>

    <div class="col-md-4">
        <h2>Expenses this month</h2>
        {{#expenses_present}}
            <table id="expenses_this_month" class="table table-bordered table-striped">
		<thead>
                    <tr>
			<th>Account</th>
			<th>Balance</th>
                    </tr>
		</thead>
		<tbody>
                    {{#expense_balances}}
			<tr>
			    <td>{{#first}}<strong>{{/first}}{{{name}}}{{#first}}</strong>{{/first}}</td>
			    <td class="amount">{{#first}}<strong>{{/first}}{{balance}}{{#first}}</strong>{{/first}}</td>
			</tr>
                    {{/expense_balances}}
		</tbody>
            </table>
        {{/expenses_present}}
        {{^expenses_present}}
            <div class="alert alert-info"> No expenses yet for this month</div>
        {{/expenses_present}}
        <h2>Income this month</h2>
        <table id="balance" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {{#income}}
                    <tr>
			<td>{{{name}}}</td>
			<td class="amount">{{balance}}</td>
                    </tr>
                {{/income}}
            </tbody>
        </table>

        <h2>Cash flow</h2>
        <table id="cashflow" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Amount</th>
                </tr>
            </thead>
            {{#cash_flow}}
                <tr>
                    <td>{{month}}</td>
                    <td class="amount {{type}}">{{amount}}</td>
                </tr>
            {{/cash_flow}}
        </table>
    </div>
    <div class="col-md-4">
        <h2>Budget this month</h2>
        {{#budget_present}}
            <table id="budget_this_month" class="table table-bordered table-striped">
		<thead>
                    <tr>
			<th>Account</th>
			<th>Balance</th>
                    </tr>
		</thead>
		<tbody>
                    {{#budget_balances}}
			<tr>
			    <td>{{#first}}<strong>{{/first}}{{{name}}}{{#first}}</strong>{{/first}}</td>
			    <td class="amount">{{#first}}<strong>{{/first}}{{balance}}{{#first}}</strong>{{/first}}</td>
			</tr>
                    {{/budget_balances}}
		</tbody>
            </table>
        {{/budget_present}}
        {{^budget_present}}
            <div class="alert alert-info"> No budget yet for this month</div>
        {{/budget_present}}
        <h2>Unbudgeted this month</h2>
        {{#unbudgeted_present}}
            <table id="unbudgeted_this_month" class="table table-bordered table-striped">
		<thead>
                    <tr>
			<th>Name</th>
			<th>Amount</th>
                    </tr>
		</thead>
		<tbody>
                    {{#unbudgeted}}
			<tr>
			    <td>{{#first}}<strong>{{/first}}{{{payee}}}{{#first}}</strong>{{/first}}</td>
			    <td class="amount">{{#first}}<strong>{{/first}}{{amount}}{{#first}}</strong>{{/first}}</td>
			</tr>
                    {{/unbudgeted}}
		</tbody>
            </table>
        {{/unbudgeted_present}}
        {{^unbudgeted_present}}
            <div class="alert alert-info"> No unbudgeted yet for this month</div>
        {{/unbudgeted_present}}
        <h2>Recent expenses</h2>
        <table id="recent_expenses" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            {{#last_expenses}}
                <tr>
                    <td>{{payee}}{{#note}} ({{note}}){{/note}}</td>
                    <td class="amount">{{amount}}</td>
                </tr>
            {{/last_expenses}}
            </tbody>
        </table>
   </div>
</div>

